@import "reset";

body {
  font-size: 15px;
  font-family: sans-serif;
  background: #2d2d2d;
  color: #fff;
}

textarea {
  width: 100vw;
  height: 20vh;
  background: #000;
  border: solid 1px #fff;
  color: #fff;
  padding: 2vh 2vw;
  font-size: 20px;
}

input[type=submit] {
  display: none;
}
